body,html{
    height: 100%;
}
.bg{
    background-image: url('resources/soccer-ball-ss-img.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imgContainer{
    margin-left: 400px;
}