<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../resources/genericstyle.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Login page</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="UTF-8">

    <title>Tournament Status</title>

</head>
<body>
<div class="bg">
    <div th:each="group : ${tournament.getGroups()}">
        <table class="table table-striped">
            <tr>
                <th th:text="${group.name}"></th>
                <th>Player</th>
                <th>Points</th>
            </tr>
            <tr th:each="player : ${group.getPlayers()}">
                <td></td>
                <td th:text="${player.name}"></td>
                <td th:text="${player.score}"></td>
            </tr>
        </table>
        <td><a class="btn btn-success" th:href="@{'/calendar/' + ${group.id}}">Calendar</a></td>
    </div>
</div>

</body>
</html>